/* content */
.content {
  grid-row: 2 / 3;
  grid-column: 1 / 3;
  display: inline-flex;
}

#map {
  flex: 1;
  position: relative;
  /* 기준 */
}

/* 애니메이션 */
.custom-overlay-wrap .info-container .collapsible-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.custom-overlay-wrap .info-container .info-title .toggle-btn {
  float: right;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1em;
  margin-left: 5px;
  padding: 0;
}

.custom-overlay-wrap .info-container .info-title .toggle-btn.open {
  transform: rotate(180deg);
}


/* 커스텀 오버레이의 기본 스타일 */
.custom-overlay-wrap {
  position: relative;
  right: 3px;
  bottom: 15px;
  display: flex;
  flex-direction: column;
  min-width: 360px;
  max-width: 400px;
  background-color: white;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  font-family: 'Pretendard', sans-serif;
}

/* 마커를 가리키는 꼬리표 (삼각형) */
.custom-overlay-wrap::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid white;
}

/* 오버레이 정보 컨테이너 */
/* .info-container {
  padding: 16px;
} */

/* 제목 부분 */
.info-title {
  font-family: 'Pretendard-SemiBold';
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background: #27ae60;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 1px solid #e9ecef; */
  padding: 12px;
  margin-bottom: 12px;
  font-size: 1.1rem;
  color: white;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.info-title-pharmacy {
  font-family: 'Pretendard-SemiBold';
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background: #1abc9c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 1px solid #e9ecef; */
  padding: 12px;
  margin-bottom: 12px;
  font-size: 1.1rem;
  color: white;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.info-title-emergency {
  font-family: 'Pretendard-SemiBold';
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background: #e74c3c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 1px solid #e9ecef; */
  padding: 12px;
  margin-bottom: 12px;
  font-size: 1.1rem;
  color: white;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

/* 닫기 버튼 */
.close-btn {
  width: 24.6333px;
  height: 24.6333px;
  font-size: 1.5rem;
  line-height: 18px;
  text-align: center;
  cursor: pointer;
  color: white;
  transition: color 0.2s ease-in-out;
}

.close-btn:hover {
  color: #212529;
}

/* 본문 내용 */
.info-body {
  padding-left: 12px;
  padding-right: 12px;
  font-size: 0.9rem;
  color: #495057;
}

/* 주소 */
.address {
  font-family: 'Pretendard-SemiBold';
  margin-bottom: 12px;
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}


/* 상세 정보 리스트 */
.details-list {
  display: flex;
  flex-direction: column;
  gap: 3px;
  border-radius: 10px;
  /* background: rgba(240, 240, 243); */
  font-family: 'Pretendard-SemiBold';
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.details-list li {
  cursor: pointer;
  padding: 12px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #E6E6E6;
  background: rgba(240, 240, 243);
}

.details-list li:last-child {
  border-bottom: none;
}

.details-list li:hover {
  background: rgba(225, 225, 230);

}

/* 리스터에 데이터가 있을 시 */
.available {
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  color: #495057;
}

/* 리스터에 데이터가 없을 시 */
.unavailable {
  color: #868e96;
}

.available span {
  color: #868e96;
}

/* 오버레이 하단 푸터 영역 */
.info-footer {
  padding: 12px;
}

/* Google Maps 길찾기 버튼 스타일 */
.google-btn {
  font-family: 'Pretendard-SemiBold';
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  background-color: #27ae60;
  /* Google 파란색 */
  color: white;
  font-size: 0.95rem;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
  box-sizing: border-box;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
}

.google-btn:hover {
  background: rgb(34, 153, 84);
}

.pharmacy-google-btn {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  background-color: #1abc9c;
  color: white;
  font-size: 0.95rem;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
  box-sizing: border-box;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.pharmacy-google-btn:hover {
  background-color: gray;
}

.emergency-google-btn {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  background-color: #e74c3c;
  color: white;
  font-size: 0.95rem;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
  box-sizing: border-box;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.emergency-google-btn:hover {
  background-color: rgba(198, 62, 49);
}

/* 진료과목 리스트 스타일 */
.subject-list-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  /* 제목과 태그들 사이의 간격 */
}

.subject-list-title {
  font-family: 'Pretendard-SemiBold';
  color: #333;
}

.subject-tags-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.subject-tag {
  cursor: pointer;
  background: #27ae60;
  color: white;
  padding: 4px 10px;
  border-radius: 15px;
  font-family: 'Pretendard-SemiBold';
}

.subject-tag-emergency {
  cursor: pointer;
  background: #e74c3c;
  color: white;
  padding: 4px 10px;
  border-radius: 15px;
  font-family: 'Pretendard-SemiBold';
}

.subject-tag-emergency:hover {
  background-color: rgba(198, 62, 49);
}

.subject-tag:hover {
  cursor: pointer;
  background: rgb(34, 153, 84);
}

.update-time {
  margin-bottom: 12px;
  color: gray;
  font-family: 'Pretendard-SemiBold';
}

.emergency_red {
  color: #e74c3c !important;
}

.emergency_green {
  color: #27ae60 !important;
}

.emergency_default {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #253140 !important;
}